$primary-color:  #464159;
$secondary-color:  #6c7b95;
$insight-color:  #8bbabb;
$reverse-insight:  #c7f0db;
$light-blue:  #4e89ae; 
$background:  rgb(236, 244, 243);
$background-st: #f2f2f2;

/* Color Theme Swatches in Hex */
$Tema-primary: #BF0413;
$Tema-secondary: #8C0002;
$Tema-notify: #D9AB73;
$Tema-insight: #F2CFC2;
$Tema-danger: #400101;
$Tema-back: #F0F1F2;
$Tema-light: #48a5b6;

