.App {
	text-align: center;
}

.body {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	padding: 20px 10px;
	margin-top: 15px;
	
	.content {
		position: relative;
		flex: 1 0 60%;
	}
}


@media all and (min-width: 992px) {
	.body {
		padding: 25px 40px;
	}
}
